<div class="grid-container">
  <nz-card
    *ngFor="
      let data of employeeList
        | paginate: { itemsPerPage: 3, currentPage: page }
    "
  >
    <div class="grid-item">
      <div class="card-title">
        <b>{{ data.name }}</b>
      </div>
      <br />
      <div class="card-content">
        <p>Email : {{ data.email }}</p>
        <p>Company Id : {{ data.companyId }}</p>
        <p>Gender : {{ data.gender }}</p>
        <p>DOJ : {{ data.doj | date: "shortDate" }}</p>
        <p>Department : {{ data.department }}</p>

        <a (click)="showModal(data.id)">Edit</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete employee  &quot;{{
            data.name
          }}&quot; ?"
          nzPopconfirmPlacement="top"
          (nzOnConfirm)="deleteEmployeeWithId(data.id)"
          >Delete</a
        >
      </div>
    </div>
  </nz-card>
</div>
<div class="has-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<!-- todo: nzCancelText,nzOkText attributes doesn't support two way data binding. refer doc-->
<!-- todo: code duplicate, you can  make re-use employee-form.component - done-->

<nz-drawer
  *ngIf="isVisible"
  [(nzVisible)]="isVisible"
  nzTitle="Edit Employee"
  [nzWidth]="500"
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  (nzOnClose)="handleCancel()"
>
  <app-employee-form [editEmployeeId]="editEmployeeId"></app-employee-form>
</nz-drawer>
