<nz-table
  #basicTable
  [nzData]="employeeList"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzSize]="'small'"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>CompanyId</th>
      <th>Gender</th>
      <th>DOJ</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.companyId }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.doj | date: "shortDate" }}</td>
      <td>{{ data.department }}</td>
      <td>
        <button nz-button [nzType]="'primary'" (click)="showModal(data.id)">
          <span>Edit</span>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete employee  &quot;{{
            data.name
          }}&quot; ?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteEmployeeWithId(data.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- todo: nzCancelText,nzOkText attributes doesn't support two way data binding. refer doc-->
<!-- todo: code duplicate, you can  make re-use employee-form.component-->
<nz-drawer
  *ngIf="isVisible"
  [(nzVisible)]="isVisible"
  nzTitle="Edit Employee"
  [nzWidth]="500"
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  (nzOnClose)="handleCancel()"
>
  <app-employee-form [editEmployeeId]="editEmployeeId"></app-employee-form>
</nz-drawer>
